body{
  margin: 0;
  height: 500vh;
}

section{
  padding: 20px 50px;
  > h1{
    font-size: 3rem;
    text-align: center;
  }
}

.twoColumns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.longList{
  columns: 2;

  > li{
    margin-left: 20px;
  }
}