body{
  height: 500vh;
}

#transformPavyzdziai > div{
  width: 200px;
  height: 100px;
  border: 2px solid black;
  background-color: #a659cd;
  font-size: 24px;
  color: white;
  margin-top: 50px;

  display: grid;
  place-items: center;
}
#transformPavyzdziai{
  > :nth-child(2){
    /* transform: translateX(100px); */
    /* transform: translateY(100px); */
    transform: translate(100px, -20px);
  }
  > :nth-child(3){
    transform: rotate(45deg);
    /* transform: rotateZ(90deg); */
    /* transform: rotateX(0deg); */
    /* transform: rotateY(0deg); */
  }
  > :nth-child(4){
    transform: rotate(200deg);
    transform-origin: top right;
  }
  > :nth-child(5){
    /* transform: scaleX(0.5); */
    /* transform: scaleY(0.5); */
    transform: scale(2, 0.9);
  }
  > :nth-child(6){
    transform: skewX(50deg);
    /* transform: skewY(50deg); */
    /* transform: skew(20deg, 40deg); */
  }
  > :nth-child(7){
    /* transform: translateX(200px);
    transform: rotate(45deg); */
    transform: translateX(200px) rotate(45deg);
    transform-origin: right 60px;
  }
}