@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body{
  height: 500vh;
}

#inheritance{
  color: red;
  background-color: #ebce98;
  border: 10px solid black;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 50px;
  width: 1000px;
  height: 500px;
}
span{
  font-size: 40px;
}

/* Prioritetai */
#priorities{
  color: orange;
}

div h1#prio{
  border: 2px solid #941414;
}
h1.border.hihi{
  border: 2px solid black;
}
h1{
  border: 5px dashed orange !important;
}