@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,500;1,100;1,600;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
  height: 500vh;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

#inheritance{
  color: red;
  background-color: #ebce98;
  border: 10px solid black;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 50px;
  width: 1000px;
  height: 500px;
}
span{
  font-size: 40px;
}

/* Prioritetai */
#priorities{
  color: orange;
}

div h1#prio{
  border: 2px solid #941414;
}
h1.border.hihi{
  border: 2px solid black;
}
h1{
  border: 5px dashed orange !important;
}