body{
  height: 500vh;
}

/* Selectors */
h6, h5, h4{
  font-size: 16px;
}
h4{
  text-decoration: underline;
}
.redText{
  color: red;
}
h5.redText{
  border: 1px solid black;
}
#extra, h4#extra, .redText#extra, h4#extra.redText{
  background-color: rgb(182, 225, 179);
}

.fancy > div > h4{
  border: 3px dotted violet;
}

h4 ~ h5{
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: blue;
}

/* Box Model */
.boxModel{
  display: inline-block;
  /* width: 300px;
  height: 100px;
  line-height: 100px;
  text-align: center; */

  /* padding-top: 5px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 100px; */
  padding: 5px 50px 20px 50px;
  /* padding: 5px 50px 20px; */
  /* padding: 20px 50px; */
  /* padding: 5px; */

  /* padding tik apaÄioje */
  /* padding: 0 0 10px 0; */
  padding-bottom: 10px;

  /* border: 1px solid black; */
  border-width: 1px 5px 3px 10px;
  border-bottom-width: 3px;
  border-style: solid dashed dotted double;
  border-bottom-style: outset;
  border-color: black orange red yellow;
  border-bottom-color: blue;

  /* border-radius: 50px 10px 20px 30px / 5px 10px 3px 20px; */
  /* border-radius: 50%; */
  /* border-radius: 50px 10px; */
  border-radius: 50px / 10px;

  margin: 30px 100px;
}

/* Background */
#bg > div{
  width: 100%;
  height: 80vh;
}

.vienspalvis{
  background-color: #7ca8d4;
}
.gradient{
  background-image: radial-gradient(
    circle at center,
    rgb(247, 147, 147),
    rgb(154, 232, 154),
    rgb(154, 154, 239)
  );
}
.image1{
  /* background-image: url('https://....jpg'); */
  background-image: url('./images/nature5.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center bottom;
  /* position: relative;
  z-index: -1; */
}
.bgTransparent{
  width: 100%;
  height: 100%;
  position: absolute;
  /* z-index: -1; */

  background-color: rgba(240, 248, 255, 0.381);
}
.z5{
  position: relative;
  z-index: 5;
}
.bgAttached{
  background-image: url('./images/nature3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}