.externalPvz{
  color: green;
}
li{
  text-decoration: underline;
}
#idKazkoksVardas{
  background-image: linear-gradient(
    to bottom right,
    rgb(198, 240, 201),
    rgb(233, 171, 171),
    rgb(240, 207, 144),
    rgb(216, 134, 194)
  );
}

.superBigText{
  font-size: 50px;
}
.greenText{
  color: rgb(63, 185, 63);
}

#uniqOne{
  /* color: #ffa600; */
  color: #f90;
}
#uniqTwo{
  background-color: grey;
}

/* Displays */
.displaysPvz > * {
  border: 3px solid black;
  padding: 5px;
  margin: 20px;
  width: 100px;
  height: 50px;
}