body{
  height: 500vh;
}

#movies{
  > h1{
    text-align: center;
    font-size: 3.5rem;
  }
  > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
}

.movieCard {
  width: 300px;
  text-align: center;
  padding: 10px;
  border: 3px solid black;
  position: relative;

  >img {
    width: 60%;
  }
}

.trinimoMygtukas{
  position: absolute;
  bottom: 5px;
  right: 5px;
}