#phoneContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.telCard{
  width: 300px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;

  > * {
    margin: 0;
  }
  > * + *{
    margin-top: 0.5em;
  }
  > img {
    width: 80%;
  }

  > p:last-child{
    display: flex;
    justify-content: space-evenly;
  }
}

.greenText{
  color: green;
}
.redText{
  color: red;
}